body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
nav {
    display: flex;
}

/* Custom CSS */

html {
	color: rgb(51, 51, 51);
}

header {
	align-items: center;
	background-color: #b94848;
	color: white;
	display: flex;
  	height: 70px;
	justify-content: space-between;
}

header h1 {
  font-size: 2.5rem;
  margin: 2rem;
}

nav p {
	font-size: 1.4rem;
	margin: 0 2rem 0 2rem;
}

.hero {
	background-color: black;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	/* Using % instead of vw stops unnecessary horizontal overflow*/
	width: 100%;
}

.hero-card {
	align-items: center;
	color: white;
	display: flex;
	flex-direction: column;
	grid-column: 1/2;
	justify-content: space-around;
	/* let children have padding to not affect section's width */
	padding: 20px;
}

.hero-card h1 {
	font-size: 3rem;
}

.hero button {
	background-color: rgb(212, 132, 46);
	border-radius: 5px;
	color: white;
	font-size: 1.6rem;
	padding: 10px 20px;
}

.hero .img-container {
	grid-column: 2/4;
	padding: 20px;
}

.hero-img {
	width: 100%;
}

.about {
	display: flex;
	width: 100%;
}

.about div {
	padding: 20px;
	width: 50%;
}

.about .img-container img {
	width: 90%;
}

.info-card {
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 90%;
}

.info-card * {
	margin: 1rem 0 1rem 0;
}

.info-card img {
	border-radius: 50%;
	width: 150px;
}

.info-card h1 {
	font-size: 2.4rem;
}

.info-card p {
	font-size: 1.4rem;
	width: 70%;
}

.signup {
	background-color: rgb(212, 132, 46);
	color: white;
	padding: 30px;
}

.signup h1 {
	color: rgb(130, 47, 24);
	font-size: 2.6rem;
}

.signup-small {
	font-size: 1.6rem;
}

.signup h3 {
	margin: 2rem 0;
}

.signup input {
	background-color: rgb(212, 132, 46);
	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom: 2px solid rgb(74, 26, 13);
	color: white;
	font-size: 1.2rem;
	margin-right: 1.6rem;
	padding: 0.2rem;
	width: 35%;
}

.signup button {
	background-color: rgb(130, 47, 24);
	border: none;
	border-radius: 5px;
	color: white;
	padding: 0.4rem 1rem;
}